*.cmd
*.ko
*.o
.tmp_versions
*.mod.c
*.symvers
*.order
build/**
.DS_Store
.vscode/**
.idea/
cmake-build-debug/
temp/
paxos.conf
out.txt
paxos.conf
stats-*.txt
notes.txt
dmesg_out.txt
dmesg_out_prop
paxos.conf
evacceptor_discarded
